*{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-decoration: none;  
    
   
}


html{
    scroll-behavior: smooth;
}



.comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}
body{
    overflow-x: hidden;
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
    background: rgb(243, 247, 242);

}

html {font-size: 77%;} 

h1 {font-size: 45px; }

h2 {font-size: 35px; }

h3 {font-size: 27px; }

h4 {font-size: 26px; }

h5 {font-size: 25px; }

h6 {font-size: 24px; }

#navigacionimeni{
    width: 100%;
    background-color: rgba(122, 167, 114, 0.5) ; 
    padding: 7px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    backdrop-filter: blur(100px);
    color: white;
}
#logo{
    width: 402px;
    height: 80px;
    font-family: "Give You Glory", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}
a {
    color: white;
}



#blok1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-right: 57px;
}
#id{
    display: flex; 
    justify-content: space-between;
    gap: 17px;
}

    
#lista{
    display: none;
    position: absolute;
    background-color: rgba(122, 167, 114, 0.3) ; 
}


#kate:hover #lista{ 
    display: block;
}

button{
    padding: 7px;
    background-color: antiquewhite;
    border: none;
    border-radius: 30px;
    box-shadow: 5px 5px 15px white;
    font-family: "Comic Relief", system-ui;
}

#slika{
    width: 100%;
    height: 700px ;
    background-image: url(../img/knjige2.jpg);
  
    background-position: center;
    background-size: cover;
    display: flex;
    background-attachment: fixed;
    color: white;
    justify-content: center;
    align-items:center ;
}
#izaberitrazi{
    height: 500px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
    justify-content: center;
    
}
#onamanaslov12{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(137 135 135 / 81%);
    border-radius: 44%;
    color: white;
    margin-left: -500px;
    animation: animacija 3s forwards 0.5s;
    text-align: center;


}

.indexvodoravno{
    display: flex;
    width: 500px;
    height: 50px;
    background-color: antiquewhite;
    display: flex;
    color: black;
    box-shadow: 5px 5px 15px white;
    border-radius: 20px;
    gap: 100px;

}
#izaberi{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    
}

#trazi{
    display: flex;
    justify-content: center;
    align-items: center; 
    border-left: 1px solid rgb(49, 33, 3);
    padding: 15px;
}

#search{
    width: 100px;
    height: 30px;
}

#category, #search{
    border: none;
    background-color: antiquewhite;
}

#onama{
    width: 100%;
    height: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    flex-direction: row;
    justify-content: center;
}




#tekst{
    text-align: center;
}


#onama p{
    width: 500px;
    text-align: center;
    font-size: 19px;


}

.najpopularniji{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 70px;
}

.najpopularniji h2{
    display: flex;
}

#naj{
    display: flex;
    gap: 30px;

}

.pravougaonik{
    height: 500px;
    width: 237px;
    display: flex;
    background-color: rgb(170, 203, 192, 0.5);
    border-radius: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.pravougaonik:hover{
    transform: scale(120%);
    transition-duration: 2s;
}
.profesor{
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

button a{
    color: black;
}

.okruglaslika2{
    width: 200px;
    height: 150px;
    border-radius: 30%;
    box-shadow: 5px 5px 25px black;
}

.recenzije{
    gap: 37PX;
}

.okruglaslika{
    width: 200px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 5px 5px 25px black;

}
.recenzije p{
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
}

.recenzije{
    height: 1057px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;    
}
#okvir1{
    display: flex;
    gap: 157px;
    padding: 30px 0px;
}
.prvired:hover{
    transform: scale(120%);
    transition-duration: 1s;
}

.prvired{
    display: flex;
    flex-direction: column;
    gap: 15px;
  
}

.stars{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:rgb(142, 184, 182);
    font-size: 25px;
}






#okvir2{
    display: flex;
    gap: 158px;
    padding: 30px 0px;
}

.drugired:hover{
    transform: scale(120%);
    transition-duration: 1s;
}

.drugired{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#footer{
    width: 100%;
    height: 300px;
    background-color: rgb(142, 184, 182);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#info{
    width: 80%;
    height: 200px;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}
#Kontakt{
    width: 287px;
    font-size: 17px;
}

#okvirlogo{
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
#logo1{
    width: 417px;
    font-family: "Give You Glory", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

#prava{
    width: 417px;
    font-size: 20px;
    text-align: center;
}





#Linkovi{
    width: 285px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 17px;

   
}
#nmp{
    width: 417px;
    display: flex;
    justify-content: space-around;
}
#nmp i{
    font-size: 27px;
}

/*-----------------------o-nama-------------------*/

#onama1{
    width: 100%;
    height: 500px;
    background-image: url("../img/knjige2.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    background-repeat: no-repeat;
    align-items: center;  
}

#onamanaslov{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    
    
    
}

#onamanaslov h1{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(137 135 135 / 81%);
    border-radius: 100%;
    color: white;
    margin-left: -500px;
    animation: animacija 3s forwards 0.5s;
}

@keyframes animacija{
    100%{margin-left: 0px;}
}

#tekst1{
    width: 100%;
    height: 950px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 50px 0px;
    font-size: 18px;
}

#tekstovi{
    width: 85%;
    height: 670px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 45px;

}

.onamatekst{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    

}

.sredina{
    margin-top: -300px;
    text-align: center;
    font-size: 19px;
    text-transform: uppercase;
}

.red1{
    display: flex;
    gap: 50px;
}

.onamatekst1{
    text-align: center;
}


/*---------------autor----------------*/



#onama2{
    width: 100%;
    height: 500px;
    background-image: url("../img/knjige2.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    background-repeat: no-repeat;
    align-items: center;  
}

#onamanaslov1{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    
    
    
}


#onamanaslov1 h1{
    width: 24%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(137 135 135 / 81%);
    border-radius: 100%;
    color: white;
    margin-left: -500px;
    animation: animacija 3s forwards 0.5s;
}
@keyframes animacija{
    100%{margin-left: 0px;}
}

#autor{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 70px 0px;
    font-size: 17px;
}

#autorslika1{
    border-radius: 50%;
    box-shadow: 5px 5px 20px black;
}

#autortekst{
    width: 370px;
    text-align: center;
}

.autorh2{
    font-size: 18px;
}



/*-------------prijava----------------*/


#onama3{

    width: 100%;
    height: 500px;
    background-image: url("../img/knjige2.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    background-repeat: no-repeat;
    align-items: center; 
    justify-content: center; 

}

#onamanaslov2{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

#onamanaslov2 h1{
    width: 57%;
    /*height: 550px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(137 135 135 / 81%);
    border-radius: 100%;
    color: white;
    margin-left: -500px;
    animation: animacija 3s forwards 0.5s;
}


#forma{
    width: 100%;
    display: flex;
    border: 2px;
    padding: 70px;
    flex-direction: row;
    gap: 10%;   
}

.prvired{
    width: 100%;
    display: flex;
    
}

form a{
    color: black;
}

#prvaforma{
    width: 40%;
    display: flex;
    border: 1px solid rgba(59, 23, 11, 0.2); 
    border-radius: 25%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 57px;
    box-shadow: 5px 5px 15px rgb(115, 107, 107);
    font-size: 18px;
    

}

#prvaforma form input, select {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    background: rgb(243, 247, 242);
}

#prvaforma input{
    font-size: 17px;
}

.mt{
    margin: 33px 0px;
    font-family: "Comic Relief", system-ui;
}

#centar{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#klikni button{
    width: 20%;
    padding: 7px;
}

#prvaforma button{
    font-size: 24px;
    box-shadow: 5px 5px 15px rgb(115, 107, 107);
}

.centarbutona{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}




.drugaformaokviru{
    display: flex;
    gap: 7px;
    align-items: center;
    flex-direction: column;
}

#drugaforma{
    width: 40%;
    display: flex;
    height: 613px;
    border: 1px solid rgba(59, 23, 11, 0.2); 
    border-radius: 25%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 15px rgb(115, 107, 107);

}

#prvired{
    width: 137%;
    display: flex;
    font-size: 18px;
    gap: 132px;
    justify-content: center;
}

.datumpol{
    width:100%;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;

    
}

#drugaforma form input, select{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    background: rgb(243, 247, 242);
}

#drugaforma button{
    font-size: 24px;
    box-shadow: 5px 5px 15px rgb(115, 107, 107);
    margin-top: 20px;
}
.forma-centar{
    width: 100%;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.status{
    font-size: 18px;
    display: flex;
    justify-content: center;
}
.lozinke{
    font-size: 18px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#submit{
    font-size: larger;
    border-style: hidden;
}

.lozinkaprva{
    display: flex;
    justify-content: flex-end;
}

.potvrdalozinke{
    display: flex;
    justify-content: center;
}
form h4{
    text-align: center;
}

/*----------------Oglasi--------------*/

.oglasi{
    padding: 25px;
}

.oglasi button{
    padding: 7px;
    background-color: antiquewhite;
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(115, 107, 107);
}
.okvirprvi{
    display: flex;
    padding: 77px;
    justify-content: space-between;
}
.oglas1{
    width: 40%;
    display: flex;
    height: 630px;
    border: 1px solid rgba(59, 23, 11, 0.2); 
    border-radius: 25%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 15px rgba(122, 167, 114, 0.5);
    padding: 25px;
    text-align: center;
    gap: 25px;
    font-size: 13px;

}

.slikaoglas{
    width: 200px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 5px 5px 25px black;
}
.okvirdrugi{
    display: flex;
    padding: 77px;
    justify-content: space-between;
}

.oglas2{
    width: 40%;
    display: flex;
    height: 630px;
    border: 1px solid rgba(59, 23, 11, 0.2); 
    border-radius: 25%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 15px rgba(122, 167, 114, 0.5);
    padding: 25px;
    text-align: center;
    gap: 25px;
    font-size: 13px;
    
}

.okvirtreci{
    display: flex;
    padding: 77px;
    justify-content: space-between;
}
.oglas3{
    width: 40%;
    display: flex;
    height: 630px;
    border: 1px solid rgba(59, 23, 11, 0.2); 
    border-radius: 25%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 15px rgba(122, 167, 114, 0.5);
    padding: 25px;
    text-align: center;
    gap: 25px;
    font-size: 13px;
    
}

.okvircetvrti{
    display: flex;
    padding: 77px;
    justify-content: space-between;
}
.oglas4{
    width: 40%;
    display: flex;
    height: 630px;
    border: 1px solid rgba(59, 23, 11, 0.2); 
    border-radius: 25%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 15px rgba(122, 167, 114, 0.5);
    padding: 25px;
    text-align: center;
    gap: 25px;
    font-size: 13px;
    
}

.okvirpeti{
    display: flex;
    padding: 77px;
    justify-content: space-between;
}
.oglas5{
    width: 40%;
    display: flex;
    height: 630px;
    border: 1px solid rgba(59, 23, 11, 0.2); 
    border-radius: 25%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 15px rgba(122, 167, 114, 0.5);
    padding: 25px;
    text-align: center;
    gap: 25px;
    font-size: 13px;
    
}

/*--------------*/ 
.hover-efect:hover{
    color: rgb(14, 97, 86);
    
}

.hover-activate{
    text-decoration: underline;
}

.oglash2{font-size: 30px;}
.oglash4{  font-size: 17px;}
.oglash5{font-size: 16px;}
.oglash6{font-size: 15px;}


.prijavah2{font-size: 30px;}

footer #info  h6{
    font-size: 27px;
}

footer #info  h3{
    font-size: 27px;
}

footer #info  h4{
    font-size: 27px;
}


